
.theTeams {
    position: absolute;
}
.allyTitle {
    text-align: center;
}
.allyTeam {
    position: relative;
    border: 1px solid black;
    padding: 5px;
}
.enemyTeam {
    position: relative;
    border: 1px solid black;
    left: 400px;
    top: -258px;
    padding: 5px;
}

.enemyTitle {
    text-align: center;
}

.enemyChoices {
    position: relative;
}

.itemsSugs {
    position: relative;
    top: -200px;
}
